In [6]:
import pandas as pd
ser = pd.Series(data=[100,200,300,400,500], index=['tom','ali','bob','jen','mira'])

In [7]:
ser

tom     100
ali     200
bob     300
jen     400
mira    500
dtype: int64

In [8]:
ser.index

Index(['tom', 'ali', 'bob', 'jen', 'mira'], dtype='object')

In [9]:
ser['ali']

200

In [10]:
ser[[4,3,1]]

mira    500
jen     400
ali     200
dtype: int64

In [12]:
ser.loc['ali']

200

In [14]:
'ali' in ser

True

In [15]:
ser * 2

tom      200
ali      400
bob      600
jen      800
mira    1000
dtype: int64

In [16]:
ser ** 2

tom      10000
ali      40000
bob      90000
jen     160000
mira    250000
dtype: int64

Pandas DataFrames